  *{
      margin:0%;
      padding:0px;
      box-sizing: border-box;
  }
  body{
    background: url(assets/images/web-developers-belgaum14.jpeg);
  }
 
.menu{
  width: 100%;
  height: 70px;
  background-color:rgba(0,0,0,0.5);
  
}
.leftmenu{
  width: 25%;
  line-height: 60px;
  float: left;
  
}
.leftmenu img{
  margin-top: 4%;
  padding-left: 70px;
  font-weight: bold;
  color:rgb(21, 203, 216);
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.rightmenu{
  width: 75%;
  height: 100px;
  float: right;

}
.rightmenu ul li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline-block;
  list-style: none;
  font-size: 15px;
  color:white;
  font-weight: bold;
  line-height: 70px;
  margin-left: 70px;
  text-transform: uppercase;

}
  
  .carouselBasicExample{
    height:300px;
    width:100px;
  }

  .carousel .carousel-inner {
    height: 300px;
  }

  .carousel-inner img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
 
  .ml6 {
      text-align: center;
      color: white;
      font-weight: 900;
      font-size: 3.3em;
      font-family: 'Rye', cursive;

    }
    
    .ml6 .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
    }
    
    .ml6 .letter {
      display: inline-block;
      line-height: 1em;
      text-align: center;
    }
    /*cards details*/
    
    .card-in{
      margin-top: 15px;
      width:180px;
      height: 300px;
      padding:10px;     
      text-align: center;
      margin: 0 52px;
      background: hsla(244, 91%, 13%, 0.26);
      box-shadow: 10px 10px 10px rgba(31, 235, 109, 0.473);
      outline: rgba(31, 235, 109, 0.473);
      transition: .5s;
      position: relative;
      
                  
      border-radius: 50px;
      overflow: hidden;
      
      
  }

  .card-in{
    border-color: crimson;
    border: bold ;
  }
  .card-in p{
    color: white;

  }

  .card-in img{
    height: 140px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    line-height: 60px;
    position: relative;
    color:#333;
    top: 50px;
    transition: .5s;

    background:#fff;
  }

  .card-in h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    top: 30px;
    transition: all 600ms cubic-bezier(0.35,0,0.51,0.1)0s ;

  }

  .card-in p{
      font-size: 14px;
      color: #fff;
      line-height: 24px;
      font-weight: 200;
      letter-spacing: 1px;
      opacity: 0;
      transition: .5s;

  }
          /* hover-section*/

          .card-in:hover p
          {
              opacity: 1;
              transition: .5s;
          }
          .card-in:hover img
          {
              top: -20px;
              transition: .5s;
          }
          .card-in:hover h1
          {
              top: -20px;
              transition: .5s;
          } 

          .card-in:hover:nth-child(1)
          {
              background-color: rgba(102, 16, 172, 0.473);
              box-shadow: 0px 0px 5px 0px #666;
              transition: .5s;
          }

          .card-in:hover:nth-child(2)
          {
              background: rgb(34, 126, 75);
              box-shadow: 0px 0px 5px 0px #666;
              transition: .5s;
          }
          .card-in:hover:nth-child(3)
          {
              background: rgb(224, 191, 82);
              box-shadow: 0px 0px 5px 0px #666;
              transition: .5s;
          }
  /* for cards float at the left side in a row*/
  .column{
    float: left;
  }
  .row::after {
    
    display: table;
  }
  .row {
    display: flex;
  }

  .column {
    flex: 20.33%;
  }

  /* THIS IS THE ADJUSTMENT OF ROW DIFFERNCE */
  .adjus2{
    margin-top: 5%;
  }
  .adjus3{
    margin-top: 5%;
  }
  .adjus4{
    margin-top: 5%;
  }

  /* here we will use the animation for cards for moving left right uper lower according to the cursor*/
  .ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }

  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }

  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }

  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }
